<footer class="site-footer">

	<div class="footer-top">
		<div class="footer-content">
			<div class="footer-section-left">
				<div style="margin-bottom: 1rem">
					<p>Waiting for the death blow<br>
						Stroking your hair as the patriots are shot<br>
						Fighting for freedom on the television<br>
						Sharing the world with slaughtered pigs
					</p><cite>One Hundred Years - The Cure</cite>
				</div>
				<div class="tunein-iframe">
					<iframe src="https://tunein.com/embed/player/s210430/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
				</div>
			</div>

			<div class="footer-section-right">
                <strong>Recent Posts</strong>
				<% if (footer.recentPosts && footer.recentPosts.length > 0) { %>
					<ul class="recent-posts-list">
						<% footer.recentPosts.forEach(post => { %>
							<li><a href="/<%= post.slug %>"><%= post.title %></a></li>
						<% }) %>
					</ul>
				<% } else { %>
					<p>No recent posts available.</p>
				<% } %>
			</div>
			<div class="footer-section-right">
			<strong>Categories</strong>
				<% if (footer.categories && footer.categories.length > 0) { %>
					<ul class="category-list">
						<% footer.categories.forEach(category => { %>
							<li><a href="/category/<%= category.slug %>"><%= category.text %></a></li>
						<% }) %>
					</ul>
				<% } else { %>
					<p>No categories available.</p>
				<% } %>
			</div>

			<div class="footer-section-right">
				<strong>Tags</strong><br>
				<% if (footer.tags && footer.tags.length > 0) { %>
						<% footer.tags.forEach(tag => { %>
							<a href="/tag/<%= tag.slug %>" style="font-size: 0.7em;"><%= tag.text %></a>&nbsp;
						<% }) %>
				<% } else { %>
					<p>No tags available.</p>
				<% } %>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="footer-content">
			<div class="copyright">© 2026 Two Eight Sixtyseven - Johannes Kalma</div>
			<div class="site-info">nodejs Nginx/1.24.0 (Ubuntu) Server</div>
		</div>
	</div>
</footer>

</body>
</html>