<%- include('partials/header') %>

    <main class="site-main container">
        <h1 class="page-title"><%= process.env.TITLE %></h1>
        <section class="site-content">
            <% posts?.forEach(item=> { %>
                <article class="post">
                    <h2 class="post-title">
                        <a href="/<%= item.post_name %>"><%= item.title %></a>
                    </h2>
                    <div class="post-meta">
                        <span class="author">By <%= item.author %></span>
                        <time>on <%= item.post_date %></time>
                    </div>
                    <p><%- item.content %></p>
                </article>
                <% }) %>
        </section>
    </main>

<%- include('partials/footer') %>
